:host mat-card-title{
    font-family: "Lato", sans-serif;
    font-weight: 550;
    font-style: normal;
    font-size: 19px
}

:host div[matListItemLine]{
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
}

::ng-deep .mdc-notched-outline__notch { 
    border-right: none;
}