:host .custom-button {
    background-color: white;
    color: rgb(218, 80, 29)
}

:host table {
    width: 100%;
    border-collapse: collapse;
    line-height: 2.0; 
    font-family: "Playfair Display", sans-serif;
    font-size: 14px; 
}

:host .custom-td {
    font-weight: bold;
    font-size: 15px;
    width: 200px;
}