:host table {
    width: 100%;
    border-collapse: collapse;
    line-height: 2.0; 
    font-family: "Open Sans", sans-serif;
    font-size: 14px; 
}

:host .custom-td {
    font-weight: bold;
    font-size: 15px;
    width: 200px;
}