:host .custom-button {
    background-color: white;
    color: #405B8C;
    transition: background-color 0.3s ease, color 0.3s ease;
}

:host .custom-button.clicked {
    background-color: #405B8C;
    color: white;
}

:host table {
    width: 100%;
    border-collapse: collapse;
    line-height: 2.0; 
    font-family: "Playfair Display", sans-serif;
    font-size: 14px; 
}

:host .custom-td {
    font-weight: bold;
    font-size: 15px;
    width: 200px;
}