/* You can add global styles to this file, and also import other style files */
@use 'sass:map';
@use 'app/theme-colors' as theme-colors;
@use "tailwindcss" as *;
@use '@angular/material' as mat;

@include mat.core();

@import url('https://fonts.googleapis.com/css2?family=Bungee+Spice&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Allerta+Stencil&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Allerta+Stencil&family=Tagesschrift&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

html, body { height: 100%; }
body { 
    margin: 0; 
    font-family: "Rubik", sans-serif;
}


.table {
    display: table;
    border-spacing: 10px;
}

.table .table-body {
    display: table-row-group;
}

.table .row {
    display: table-row;
}

.table .row .cell {
    display: table-cell;
}

.formatted-table .row .cell:nth-child(1) {
    width: 200px;
    font-weight: bold;
}

.custom-font {
    font-family: "Rubik", sans-serif;
    font-weight: 400;
    font-size: 14px;
}

$custom-color: (
    primary: theme-colors.$primary-palette,
    tertiary: theme-colors.$tertiary-palette,
);

$custom-theme:(
    color: $custom-color,
    density: 0
);

html {
    color-scheme: light dark;
    @include mat.theme($custom-theme);
}
