services:
  mysqldb-prod:
    image: mysql:5.7
    restart: unless-stopped
    platform: linux/x86_64
    environment:
      - MYSQL_ROOT_PASSWORD=123456
      - MYSQL_DATABASE=database
    ports:
      - 3307:3306
    volumes:
      - db-prod:/var/lib/mysql
    networks:
      - server-network

  mysqldb-dev:
    image: mysql:5.7
    restart: unless-stopped
    platform: linux/x86_64
    environment:
      - MYSQL_ROOT_PASSWORD=123456
      - MYSQL_DATABASE=database
    ports:
      - 3308:3306
    volumes:
      - db-dev:/var/lib/mysql
    networks:
      - server-network

  nodejs-prod:
    depends_on:
      - mysqldb-prod
    build: server/
    restart: unless-stopped
    ports:
      - 8080:8080
    environment:
      - DB_HOST=mysqldb-prod
      - DB_USER=root
      - DB_PASSWORD=123456
      - DB_NAME=database
      - DB_LOCAL_PORT=3307
      - DB_PORT=3306
      - WEB_PORT=8080
      - JWT_SECRET=secret
      - OWNER_USERNAME=catholic-almanacs-owner
      - OWNER_PASSWORD=123456
      - OWNER_EMAIL=sample@email.com
    stdin_open: true
    tty: true
    networks:
      - server-network

  nodejs-dev:
    depends_on:
      - mysqldb-dev
    build: server/
    restart: unless-stopped
    ports:
      - 8081:8080
    environment:
      - DB_HOST=mysqldb-dev
      - DB_USER=root
      - DB_PASSWORD=123456
      - DB_NAME=database
      - DB_LOCAL_PORT=3308
      - DB_PORT=3306
      - WEB_PORT=8080
      - JWT_SECRET=secret
      - OWNER_USERNAME=catholic-almanacs-owner
      - OWNER_PASSWORD=password
      - OWNER_EMAIL=sample@email.com
    stdin_open: true
    tty: true
    networks:
      - server-network

volumes:
  db-prod:
  db-dev:

networks:
  server-network:
    driver: bridge