:host .header{
    font-family: "Rubik", sans-serif;
    font-optical-sizing: auto;
    font-weight: 430;
    font-style: normal;
    color: rgba(250, 249, 253, 0.938);
    background-color: #405B8C;
}

:host .menu-button{
    color: rgba(250, 249, 253, 0.938)
}