:host .header{
    font-family: "Rubik", sans-serif;
    font-optical-sizing: auto;
    font-weight: 430;
    font-style: normal;
    background-color: var(--mdc-theme-primary, #0e2a39);
    color: var(--mdc-theme-on-primary, #faf6ee);
}