<!-- Wide Display -->
<div class="flex flex-row justify-start items-start wide-display">
<div class="font-semibold text-lg ml-10 mt-4" style="font-size: 24px; font-family: 'Lato', sans-serif;">
    <!--map name-->
    Map
</div>
</div>
<div class="flex flex-row w-full justify-start items-start mt-5">
    <div style="width: 300px;" class="ml-3">
        <!--filter-->
    </div>
    <div class="w-full flex flex-col justify-around items-center relative">
        <!--map-->
    </div>
</div>

<!-- Mobile Display -->
<div class="flex flex-row justify-start items-start mobile-display">
<div class="font-semibold text-lg ml-10 mt-4" style="font-size: 24px; font-family: 'Lato', sans-serif;">
    <!--map name-->
    Map
</div>
</div>
<div class="flex flex-row w-full justify-start items-start mt-5">
    <div style="width: 300px;" class="ml-3">
        <!--filter-->
    </div>
    <div class="w-full flex flex-col justify-around items-center relative">
        <!--map-->
    </div>
</div>