<div class="flex flex-row items-center justify-center">
    <div class="flex flex-col justify-center items-center mt-10">
        <p class="text-center text-gray-700 font-semibold mb-5 custom-font" style="font-family: 'Open Sans', sans-serif">
            The most recent dates when data in these files was made available on the website:
        </p>
        <mat-card style="width:500px; height:400px" appearance="outlined" class="ml-5 mr-10">
            <mat-card-content class="scrollable-content">
                @if (loading) {
                    <div style="height: 100%; display: flex; align-items: center; justify-content: center;">
                        <mat-spinner></mat-spinner>
                    </div>
                } @else {
                    @if (fileDates.length === 0) {
                        <div style="text-align: center; color: gray;">No File Dates Found</div>
                    } @else {
                        @for (item of fileDates; track item) {
                            <div class="mb-2 custom-font">
                                <span>{{item.fileName}}</span> - 
                                <span class="text-sm text-gray-600">{{item.date}}</span>
                            </div>
                        }}}
            </mat-card-content>
        </mat-card>
    </div>
    <div class="flex flex-col items-center justify-center">
        <mat-slide-toggle (change)="toggleFormat()">
            {{format}}
        </mat-slide-toggle>
        <button mat-raised-button>
            <a [href]="downloadURI" download="almanacs.zip">
            download
            </a>
        </button>
    </div>
</div>