<mat-accordion>
    <mat-expansion-panel [expanded]="isOpen"> 
        <mat-expansion-panel-header>
            <div>
                <mat-panel-title>
                Filter by:
                </mat-panel-title>
            </div>
        </mat-expansion-panel-header>
        <mat-chip-listbox class="w-full">
            <ng-container *ngFor="let filter of filterFields">
            <mat-chip  *ngIf="!filter.active" (click)="toggleFilter(filter)">
            <mat-icon fontIcon="filter_alt"></mat-icon>
                {{ filter.label }}
            </mat-chip>
            </ng-container>
        </mat-chip-listbox>

        <div class="flex flex-row flex-wrap justify-start items-center">
            <div *ngFor="let filter of filterFields" class="filter-form mr-2 mt-2">
                <ng-container *ngIf="filter.active">
                <ng-container [ngSwitch]="true">
                    <div *ngSwitchCase="filter.type == 'input'">
                        <mat-form-field style="width:190px">
                            <mat-label>{{filter.label}}</mat-label>
                            <input matInput placeholder="filter by {{ filter.label }}"
                            (input)="updateFilter()"
                            [(ngModel)]="filterValues[filter.key]">
                        </mat-form-field>
                    </div>
                    <div *ngSwitchCase="filter.type == 'range'">
                        <mat-slider class="mx-2" style="width:200px" [min]="filter.min" [max]="filter.max" step="1" discrete>
                            <input value="{{filter.min}}" (change)="updateFilter()" [(ngModel)]="filterValues[filter.keyStart]" matSliderStartThumb >
                            <input value="{{filter.max}}" (change)="updateFilter()" [(ngModel)]="filterValues[filter.keyEnd]" matSliderEndThumb >
                        </mat-slider>
                    </div>
                </ng-container>
                <button mat-icon-button color="warn" type="button" class="custom-button" (click)="toggleFilter(filter)">
                    <mat-icon fontIcon="close"></mat-icon>
                </button>
                </ng-container>
            </div>
        </div>
    </mat-expansion-panel>
</mat-accordion>