:host mat-expansion-panel-header {
    width: 100%;
    height: 60px;
}

:host mat-form-field {
    width: 100%;
    margin-bottom: 0;
}

:host .custom-button mat-icon {
    font-size: 18px,
}

:host .filter-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1px
}