:host mat-expansion-panel-header {
    width: 100%;
    height: 60px;
}

:host mat-form-field {
    width: 100%;
    margin-bottom: 0;
}

:host .custom-button mat-icon {
    font-size: 18px,
}

:host .custom-font-filter {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600
}

:host .filter-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1px
}

:host .filter-form-field {
  width: 100%;
  max-width: 200px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 3px;
}