<mat-card class="max-md:mt-2 mt-2">
    @if (loading) {
        <div style="height: 100%; display: flex; align-items: center; justify-content: center;">
            <mat-spinner></mat-spinner>
        </div>
    } @else {
    <mat-card-header>
        <mat-card-title>
            {{data.title + ' ' + data.name + ' ' + data.suffix}}
        </mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <div class="w-full flex flex-col md:flex-row justify-start items-start">
            <div class="w-full flex flex-col justify-center items-start custom-font">
                <app-select-year [years]="data.year" (yearSelected)="onYearSelected($event)"></app-select-year>
                <div class="table formatted-table custom-font">
                    <div class="table-body text-xs md:text-sm">
                        <div class="row">
                            <div class="cell">Person ID</div>
                            <div class="cell">{{data.persID}}</div>
                        </div>
                        @if (data.title) {
                        <div class="row">
                            <div class="cell">Title</div>
                            <div class="cell">{{data.title}}</div>
                        </div>}
                        @if (data.suffix) {
                            <div class="row">
                            <div class="cell">Suffix</div>
                            <div class="cell">{{data.suffix}}</div>
                            </div>
                        }
                        @if (data.role[0]) {
                            <div class="row">
                            <div class="cell">Role</div>
                            <div class="cell">{{data.role.join(', ')}}</div>
                        </div>
                        }
                        @if (data.note) {
                            <div class="row">
                            <div class="cell">Notes</div>
                            <div class="cell">{{data.note}}</div>
                        </div>
                        }
                        @if (data.residingInstitutions && data.residingInstitutions.length > 0) {
                            <div class="row">
                            <div class="cell">Residing In</div>
                            <div class="cell">
                                <div style="display: flex; flex-wrap: wrap; gap: 8px;">
                                    <button mat-button class="!text-xs md:!text-sm custom-font" *ngFor="let item of data.residingInstitutions" [matTooltip]="item.personInAlmanacRecord?.role || 'No person role info'">
                                        <div [routerLink]="'/institutions/' + item.instID">{{item.instName}}</div>
                                    </button>
                                </div>
                            </div>
                        </div>
                        }
                        @if (data.visitingInstitutions && data.visitingInstitutions.length > 0) {
                            <div class="row">
                            <div class="cell">Visiting</div>
                            <div class="cell">
                                <div style="display: flex; flex-wrap: wrap; gap: 8px;">
                                    <button mat-button class="!text-xs md:!text-sm custom-font" *ngFor="let item of data.visitingInstitutions" [matTooltip]="item.personInAlmanacRecord?.role || 'No person role info'">
                                        <div [routerLink]="'/institutions/' + item.instID">{{item.instName}}</div>
                                    </button>
                                </div>
                            </div>
                        </div>
                        }
                    </div>
                </div>
                </div>
                <div class="w-full flex flex-col justify-center items-center">
                    <div class="text-center w-full flex justify-center mb-2">
                        <span class="italic text-gray-500 text-sm" style="font-family:'Open Sans', sans-serif">Map in development, this window is temporary</span>
                    </div>
                    <div class="map-container w-full md:!hidden flex justify-center items-center">
                        <google-map [options]="mapOptionsSmall" width="400px" height="250px">
                            <ng-container *ngFor="let item of data.almanacRecords">
                                <map-marker [position]="{lat: item.latitude, lng: item.longitude}" [title]="item.instName" (mapClick)="clickMap($event, item.instID)">
                                </map-marker>
                            </ng-container>
                            <map-polygon></map-polygon> <!--could be an option-->
                        </google-map>
                    </div>
                    <div class="map-container w-full md:w-auto !hidden md:!flex">
                        <google-map [options]="mapOptionsWide" width="500px" height="350px">
                            <ng-container *ngFor="let item of data.residingInstitutions">
                                <map-marker [position]="{lat: item.latitude, lng: item.longitude}" [title]="item.instName" (mapClick)="clickMap($event, item.instID)">
                                </map-marker>
                            </ng-container>
                            <ng-container *ngFor="let item of data.visitingInstitutions">
                                <map-marker [position]="{lat: item.latitude, lng: item.longitude}" [title]="item.instName" (mapClick)="clickMap($event, item.instID)">
                                </map-marker>
                            </ng-container>
                            <map-polygon></map-polygon> <!--could be an option-->
                        </google-map>
                    </div>
                </div>
        </div>
        <div>
        <button mat-button class="tertiary-btn !text-xs md:!text-sm custom-font" (click)="goBack()">
            <mat-icon>arrow_back</mat-icon>
            Back
        </button>
        </div>
        </mat-card-content>}
</mat-card>
            <!--
            <table>
                <tbody>
                    <app-select-year [years]="data.year" (yearSelected)="onYearSelected($event)"></app-select-year>
                    <tr>
                        <td class="custom-td">Person ID</td>
                        <td>{{data.persID}}</td>
                    </tr>
                    <tr>
                        <td class="custom-td">Title</td>
                        <td>{{data.title}}</td>
                    </tr>
                    <tr>
                        <td class="custom-td">Suffix</td>
                        <td>{{data.suffix}}</td>
                    </tr>
                    <tr>
                        <td class="custom-td">Notes</td>
                        <td>{{data.note}}</td>
                    </tr>
                    <tr>
                        <td class="custom-td">Relevant Institutions</td>
                        <td>
                            <div style="display: flex; flex-wrap: wrap; gap: 8px;">
                                <button mat-button class="custom-button" *ngFor="let item of data.almanacRecords">
                                    <div [routerLink]="'/institutions/' + item.instID">{{item.instName}}</div>
                                </button>
                            </div>
                            <div *ngIf="data.almanacRecords.length === 0">None</div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </mat-card-content>
    </mat-card>
</div> -->