<div *ngIf="!loading">
    <mat-card class="mx-2">
        <mat-card-header>
            <mat-card-title>
                {{data.title + ' ' + data.name}}
            </mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <app-select-year [years]="data.year" (yearSelected)="onYearSelected($event)"></app-select-year>
            <div class="table formatted-table custom-font">
                <div class="table-body">
                    <div class="row">
                        <div class="cell">Person ID</div>
                        <div class="cell">{{data.persID}}</div>
                    </div>
                    <div class="row">
                        <div class="cell">Title</div>
                        <div class="cell">{{data.title}}</div>
                    </div>
                    <div class="row">
                        <div class="cell">Suffix</div>
                        <div class="cell">{{data.suffix}}</div>
                    </div>
                    <div class="row">
                        <div class="cell">Notes</div>
                        <div class="cell">{{data.note}}</div>
                    </div>
                    <div class="row">
                        <div class="cell">Relevant Institutions</div>
                        <div class="cell">
                            <div style="display: flex; flex-wrap: wrap; gap: 8px;">
                                <button mat-button class="custom-button" *ngFor="let item of data.almanacRecords">
                                    <div [routerLink]="'/institutions/' + item.instID">{{item.instName}}</div>
                                </button>
                            </div>
                            <div *ngIf="data.almanacRecords.length === 0">None</div>
                        </div>
                    </div>
                </div>
            </div>

            <!--
            <table>
                <tbody>
                    <app-select-year [years]="data.year" (yearSelected)="onYearSelected($event)"></app-select-year>
                    <tr>
                        <td class="custom-td">Person ID</td>
                        <td>{{data.persID}}</td>
                    </tr>
                    <tr>
                        <td class="custom-td">Title</td>
                        <td>{{data.title}}</td>
                    </tr>
                    <tr>
                        <td class="custom-td">Suffix</td>
                        <td>{{data.suffix}}</td>
                    </tr>
                    <tr>
                        <td class="custom-td">Notes</td>
                        <td>{{data.note}}</td>
                    </tr>
                    <tr>
                        <td class="custom-td">Relevant Institutions</td>
                        <td>
                            <div style="display: flex; flex-wrap: wrap; gap: 8px;">
                                <button mat-button class="custom-button" *ngFor="let item of data.almanacRecords">
                                    <div [routerLink]="'/institutions/' + item.instID">{{item.instName}}</div>
                                </button>
                            </div>
                            <div *ngIf="data.almanacRecords.length === 0">None</div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </mat-card-content>
    </mat-card>
</div> -->