:host mat-card-title{
    font-family: "Tagesschrift", sans-serif;
    font-weight: 500;
    font-style: normal;
    color: #405B8C;
    font-size: 19px;  
}

:host mat-label, button, mat-paginator {
    font-family: "Rubik", sans-serif;
    font-weight: 400;
    font-style: normal;
}

:host div[matListItemLine]{
    font-family: "Rubik", sans-serif;
    font-weight: 400;
    font-style: normal;
}

:host .custom-button {
    color: #405B8C;
}
