<div *ngIf="!loading">
<!--
    <div class="flex flex-row justify-start items-center">
        <mat-card class="w-full">
            <mat-card-content>
                <div class="flex flex-col justify-start w-full">
                    <div class="flex flex-wrap md:flex-nowrap justify-start items-center">
                        <mat-form-field class="mx-2 w-full sm:w-auto">
                            <mat-label>Filter by Inst Name</mat-label>
                            <input matInput [(ngModel)]="filterBy.instName" (input)="updateFilter()">
                        </mat-form-field>
                        <mat-form-field class="mx-2 w-full sm:w-auto">
                            <mat-label>Filter by Inst Type</mat-label>
                            <input matInput [(ngModel)]="filterBy.instType" (input)="updateFilter()">
                        </mat-form-field>
                        <mat-form-field class="mx-2 w-full sm:w-auto">
                            <mat-label>Filter by Language</mat-label>
                            <input matInput [(ngModel)]="filterBy.language" (input)="updateFilter()">
                        </mat-form-field>
                        <mat-form-field class="mx-2 w-full sm:w-auto">
                            <mat-label>Filter by Diocese</mat-label>
                            <input matInput [(ngModel)]="filterBy.diocese" (input)="updateFilter()">
                        </mat-form-field>
                        <mat-form-field class="mx-2 w-full sm:w-auto">
                            <mat-label>Filter by City</mat-label>
                            <input matInput [(ngModel)]="filterBy.cityReg" (input)="updateFilter()">
                        </mat-form-field>
                        <mat-form-field class="mx-2 w-full sm:w-auto">
                            <mat-label>Filter by Person Name</mat-label>
                            <input matInput [(ngModel)]="filterBy.persName" (input)="updateFilter()">
                        </mat-form-field>
                    </div>
                    <div class="flex justify-between max-w-[250px]">
                        <label id="example-name-label" class="example-name-label">Year</label>
                        <label class="example-value-label">{{filterBy.instStartYear + ' - ' + filterBy.instEndYear || 'All Years'}}</label>
                    </div>
                    <div class="flex flex-row justify-start items-center">
                        <mat-slider class="mx-2" style="width:230px" min="1860" max="1870" step="1">
                            <input [(ngModel)]="filterBy.instStartYear" (input)="getYearData()" matSliderStartThumb>
                            <input [(ngModel)]="filterBy.instEndYear" (input)="getYearData()" matSliderEndThumb>
                        </mat-slider>
                        <div>
                            <button mat-button class="custom-button" (click)="resetYear()">Reset Year</button>
                        </div>
                    </div>
                    <div>
                        <mat-paginator (page)="changePage($event)"
                        [length]="totalItems"
                        [pageSize]="itemsPerPage"
                        [pageIndex]="currentPage"
                        [showFirstLastButtons]="true"
                        [pageSizeOptions]="[5, 10, 25, 50]">
                        </mat-paginator>
                    </div>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
-->

    <app-filter></app-filter>
    
    <div>
        <mat-paginator (page)="changePage($event)"
        [length]="totalItems"
        [pageSize]="itemsPerPage"
        [pageIndex]="currentPage"
        [showFirstLastButtons]="true"
        [pageSizeOptions]="[5, 10, 25, 50]">
        </mat-paginator>
    </div>

    <mat-card *ngFor="let item of data" class="my-3">
        <mat-card-header [routerLink]="'/institutions/' + item.ID" style="cursor: pointer;">
            <mat-card-title>
                {{ item.almanacRecord[item.almanacRecord.length - 1]?.instName }}
            </mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <mat-list>
                <mat-list-item>
                    <mat-icon matListItemIcon>description</mat-icon>
                    <div matListItemTitle>
                        ID: {{ item.ID }}
                    </div>
                    <div matListItemLine>
                        Years In Records:
                        <span *ngFor="let c of item.almanacRecord">
                            {{ c.year }} 
                        </span>
                    </div>
                    <div matListItemLine>
                        Institution Type: {{ item.almanacRecord[item.almanacRecord.length - 1]?.instType }}
                    </div>
                    <div matListItemLine>
                        Diocese (in {{item.almanacRecord[item.almanacRecord.length - 1].year}}): {{ item.almanacRecord[item.almanacRecord.length - 1]?.diocese }}
                    </div>
                </mat-list-item>
            </mat-list>
        </mat-card-content>
    </mat-card>
</div>