:host mat-card-title{
    font-family: "Tagesschrift", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 20px;
}

.scrollable-content {
  height: 100%;
  overflow-y: auto;
}

:host custom-font {
  font-family: 'Open Sans', sans-serif;
}