<div *ngIf="!loading">
    <mat-card class="mx-2">
        <mat-card-header>
            <mat-card-title>
                {{processedData.instName}}
            </mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <table>
                <tbody>
                    <app-select-year [years]="processedData.year" (yearSelected)="onYearSelected($event)"></app-select-year>
                    <tr>
                        <td class="custom-td">Institution ID</td>
                        <td>{{data.ID}}</td>
                    </tr>
                    <tr>
                        <td class="custom-td">Institution Type</td>
                        <td>{{processedData.instType}}</td>
                    </tr>
                    <tr>
                        <td class="custom-td">Language</td>
                        <td>{{processedData.language}}</td>
                    </tr>
                    <tr>
                        <td class="custom-td">Diocese (in 1870)</td>
                        <td>{{processedData.diocese}}</td>
                    </tr>
                    <tr>
                        <td class="custom-td">State</td>
                        <td>{{processedData.stateOrig}}</td>
                    </tr>
                    <tr>
                        <td class="custom-td">City</td>
                        <td>{{processedData.cityReg}}</td>
                    </tr>
                    <tr>
                        <td class="custom-td">Notes</td>
                        <td style="word-wrap: break-word; overflow-wrap: break-word;">{{processedData.instNote}}</td>
                    </tr>
                    <tr>
                        <td class="custom-td">Relevant People</td>
                        <td>
                            <div style="display: flex; flex-wrap: wrap; gap: 8px;">
                                <button mat-button class="custom-button" *ngFor="let item of processedData.personInfo">
                                    <div [routerLink]="'/people' + item.ID">{{item.personInAlmanacRecord.title + ' ' + item.personInAlmanacRecord.name}}</div>
                                </button>
                            </div>
                            <div *ngIf="processedData.personInfo.length === 0">None</div>
                        </td>
                    </tr>
                    <tr>
                        <td class="custom-td">Attending Institutions</td>
                        <td>
                            <div style="display: flex; flex-wrap: wrap; gap: 8px;">
                                <button mat-button class="custom-button" *ngFor="let item of processedData.attendingInstitutions" (click)="onInstitutionClick(item)">
                                    <div [routerLink]="'/institutions/' + item.instID">{{ item.instName }}</div>
                                </button>
                            </div>
                            <div *ngIf="processedData.attendingInstitutions.length === 0">None</div>
                        </td>
                    </tr>
                    <tr>
                        <td class="custom-td">Attended By</td>
                        <td>
                            <div style="display: flex; flex-wrap: wrap; gap: 8px;">
                                <button mat-button class="custom-button" *ngFor="let item of processedData.attendedBy" (click)="onInstitutionClick(item)">
                                    <div [routerLink]="'/institutions/' + item.instID">{{ item.instName }}</div>
                                </button>
                            </div>
                            <div *ngIf="processedData.attendedBy.length === 0">None</div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </mat-card-content>
    </mat-card>
</div>