<div *ngIf="!loading">
    <mat-card class="max-md:mt-2 mt-5">
        <mat-card-header>
            <mat-card-title>
                {{data.instName}}
            </mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <div class="w-full flex flex-col md:flex-row justify-center items-start">
                <div class="w-full flex flex-col justify-center items-start">
                    <app-select-year [years]="data.year" (yearSelected)="onYearSelected($event)"></app-select-year>
                    <div class="table formatted-table custom-font">
                        <div class="table-body text-xs md:text-sm">
                            <div class="row">
                                <div class="cell">Institution ID</div>
                                <div class="cell">{{data.instID}}</div>
                            </div>
                            <div class="row">
                                <div class="cell">Institution Type</div>
                                <div class="cell">{{data.instType}}</div>
                            </div>
                            <div class="row">
                                <div class="cell">Language</div>
                                <div class="cell">{{data.language}}</div>
                            </div>
                            <div class="row">
                                <div class="cell">Diocese</div>
                                <div class="cell">
                                    {{data.diocese?.join(', ' )}}
                                </div>
                            </div>
                            <div class="row">
                                <div class="cell">Notes</div>
                                <div class="cell" style="word-wrap: break-word; overflow-wrap: break-word;">{{data.instNote}}</div>
                            </div>
                            <div class="row">
                                <div class="cell">Place Name</div>
                                <div class="cell">{{data.placeName}}</div>
                            </div>
                            <div class="row">
                                <div class="cell">Region</div>
                                <div class="cell">{{data.region}}</div>
                            </div>
                            <div class="row">
                                <div class="cell">Location (Original)</div>
                                <div class="cell">
                                    {{data.countyOrig ? data.countyOrig + ', ' : ''}}
                                    {{data.cityOrig ? data.cityOrig + ', ' : ''}}
                                    {{data.stateOrig ? data.stateOrig : data.stateReg}}
                                </div>
                            </div>
                            <div class="row">
                                <div class="cell">Location (Regular)</div>
                                <div class="cell">
                                    {{data.countyReg ? data.countyReg + ', ' : ''}}
                                    {{data.cityReg ? data.cityReg + ', ' : ''}}
                                    {{data.stateReg ? data.stateReg : data.stateOrig}}
                                </div>
                            </div>
                            <div class="row">
                                <div class="cell">Member</div>
                                <div class="cell">{{data.member}}</div>
                            </div>
                            <div class="row">
                                <div class="cell">Member Type</div>
                                <div class="cell">{{data.memberType}}</div>
                            </div>
                            <div class="row">
                                <div class="cell">Affiliated</div>
                                <div class="cell">{{data.affiliated}}</div>
                            </div>
                            @if (data.relatedInstitutions) {
                                <div class="row">
                                <div class="cell">Relevant Institutions</div>
                                <div class="cell">
                                    <div style="display: flex; flex-wrap: wrap; gap: 8px;">
                                        <button mat-button class="!text-xs md:!text-sm" color="primary" *ngFor="let item of data.relatedInstitutions" [matTooltip]="item?.instType || ''">
                                            <div [routerLink]="'/institutions/' + item.instID">{{item.instName}}</div>
                                        </button>
                                    </div>
                                    <div *ngIf="data.relatedInstitutions.length === 0">None</div>
                                </div>
                            </div>
                            }
                            @if (data.parentInstitutions) {
                                <div class="row">
                                <div class="cell">Parent Institutions</div>
                                <div class="cell">
                                    <div style="display: flex; flex-wrap: wrap; gap: 8px;">
                                        <button mat-button class="!text-xs md:!text-sm" class="text-xs md:text-sm" color="primary" *ngFor="let item of data.parentInstitutions" [matTooltip]="item?.instType || ''">
                                            <div [routerLink]="'/institutions/' + item.instID">{{item.instName}}</div>
                                        </button>
                                    </div>
                                    <div *ngIf="data.parentInstitutions.length === 0">None</div>
                                </div>
                            </div>
                            }
                            @if (data.childInstitutions) {
                                <div class="row">
                                <div class="cell">Child Institutions</div>
                                <div class="cell">
                                    <div style="display: flex; flex-wrap: wrap; gap: 8px;">
                                        <button mat-button class="!text-xs md:!text-sm" color="primary" *ngFor="let item of data.childInstitutions" [matTooltip]="item?.instType || ''">
                                            <div [routerLink]="'/institutions/' + item.instID">{{item.instName}}</div>
                                        </button>
                                    </div>
                                    <div *ngIf="data.childInstitutions.length === 0">None</div>
                                </div>
                            </div>
                            }
                            @if (data.siblingInstitutions) {
                                <div class="row">
                                <div class="cell">Sibling Institutions</div>
                                <div class="cell">
                                    <div style="display: flex; flex-wrap: wrap; gap: 8px;">
                                        <button mat-button class="!text-xs md:!text-sm" color="primary" *ngFor="let item of data.siblingInstitutions" [matTooltip]="item?.instType || ''">
                                            <div [routerLink]="'/institutions/' + item.instID">{{item.instName}}</div>
                                        </button>
                                    </div>
                                    <div *ngIf="data.siblingInstitutions.length === 0">None</div>
                                </div>
                            </div>
                            }
                            <div class="row">
                                <div class="cell">Relevant People</div>
                                <div class="cell">
                                    <div style="display: flex; flex-wrap: wrap; gap: 8px;">
                                        <button mat-button class="!text-xs md:!text-sm" color="primary" *ngFor="let item of data.personInfo" [matTooltip]="item.personInAlmanacRecord?.role || ''">
                                            <div [routerLink]="'/people/' + item.ID">{{item.personInAlmanacRecord.title + ' ' + item.personInAlmanacRecord.name + ' ' + item.personInAlmanacRecord.suffix}}</div>
                                        </button>
                                    </div>
                                    <div *ngIf="data.personInfo.length === 0">None</div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="cell">Attending Institutions</div>
                                <div class="cell">
                                    <div style="display: flex; flex-wrap: wrap; gap: 8px;">
                                        <button mat-button class="!text-xs md:!text-sm" color="primary" *ngFor="let item of data.attendingInstitutions" [matTooltip]="item.latestInstName + ' (' + item.latestYear + ')'">
                                            <div [routerLink]="'/institutions/' + item.instID">{{ item.instName }}</div>
                                        </button>
                                    </div>
                                    <div *ngIf="data.attendingInstitutions.length === 0">None</div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="cell">Attended By</div>
                                <div class="cell">
                                    <div style="display: flex; flex-wrap: wrap; gap: 8px;">
                                        <button mat-button class="!text-xs md:!text-sm" color="primary" *ngFor="let item of data.attendedBy" [matTooltip]="item.latestInstName + ' (' + item.latestYear + ')'">
                                            <div [routerLink]="'/institutions/' + item.instID">{{ item.instName }}</div>
                                        </button>
                                    </div>
                                    <div *ngIf="data.attendedBy.length === 0">None</div>
                                </div>
                            </div>
                        </div>
                        </div>
                    </div>
                    <div class="map-container w-full mt-5 md:!hidden flex justify-center items-center">
                        <google-map [options]="mapOptionsSmall" width="400px" height="250px">
                            <map-marker [position]="{lat: data.latitude, lng: data.longitude}" [title]="data.instName" (mapClick)="clickMap($event)">
                            </map-marker>
                            <!--<map-polygon></map-polygon> could be an option-->
                        </google-map>
                    </div>
                    <div class="map-container w-full md:w-auto mt-5 !hidden md:!block">
                        <google-map [options]="mapOptionsWide" width="500px" height="350px">
                            <map-marker [position]="{lat: data.latitude, lng: data.longitude}" [title]="data.instName" (mapClick)="clickMap($event)">
                            </map-marker>
                            <!--<map-polygon></map-polygon> could be an option-->
                        </google-map>
                    </div>
                </div>
                <button mat-button class="tertiary-btn" (click)="goBack()">
                    <mat-icon>arrow_back</mat-icon>
                    Back
                </button>
        </mat-card-content>
    </mat-card>
</div>