<app-filter></app-filter>
<mat-card>
    <mat-card-content>
        <div class="w-full flex flex-row justify-center items-center relative">
            <div style="flex-shrink: 0;">
            <google-map [options]="mapOptions" width = "900px" height="600px">
                @for (item of data; track item) {
                    <!--
                    <map-marker 
                    [position]="{lat: item.latitude, lng: item.longitude}" 
                    [title]="item.instName + ' (' + item.diocese + ')'" 
                    (mapClick)="clickMap(item)"
                    [options]="{
                        icon: {
                            url: 'map-icon.png'
                        }
                    }"
                    >
                    </map-marker> -->
                    <map-circle
                        [center]="{lat: item.latitude, lng: item.longitude}"
                        [radius]="300"
                        [options]="{
                            strokeColor: '#ff9600',
                            strokeOpacity: 0.8,
                            strokeWeight: 2,
                            fillColor: '#ff9600',
                            fillOpacity: 0.35
                        }"
                        (circleClick)="clickMap(item)"
                        (circleMouseover)="showInstDetail($event, item)"
                        (circleMouseout)="hideInstDetail()"
                    ></map-circle>
                }
            </google-map>
            </div>
            <div class="absolute top-0 right-50 m-2" style="width: 300px;">
                <mat-card *ngIf="instDetailVisible">
                    <mat-card-content>
                        <div>
                            <b>Institution Name:</b> {{ instDetailData.instName }}
                        </div>
                        <div>
                            <b>Institution Type:</b> {{ instDetailData.instType }}
                        </div>
                        <div>
                            <b>Diocese:</b> {{ instDetailData.diocese }}
                        </div>
                        <div>
                            <b>Year:</b> {{ instDetailData.year }}
                        </div>
                    </mat-card-content>
                </mat-card>
            </div>
        </div>
    </mat-card-content>
</mat-card>